{% set page = 'index' %}

{% extends "partials/layout.twig" %}

{% block title %}Home - {% endblock %}

{% block meta_description %}{% endblock %}

{% block content %}

  <div class="l__max-width l__center l__padding t__align--center l__margin-top--xlarge">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolor mollitia debitis magni rerum illo? Facere, repellendus, deserunt! Perferendis porro molestias voluptatum ex exercitationem consequuntur totam veniam, esse omnis laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolor mollitia debitis magni rerum illo? Facere, repellendus, deserunt! Perferendis porro molestias voluptatum ex exercitationem consequuntur totam veniam, esse omnis laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolor mollitia debitis magni rerum illo? Facere, repellendus, deserunt! Perferendis porro molestias voluptatum ex exercitationem consequuntur totam veniam, esse omnis laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolor mollitia debitis magni rerum illo? Facere, repellendus, deserunt! Perferendis porro molestias voluptatum ex exercitationem consequuntur totam veniam, esse omnis laborum.</p>
  </div>

{% endblock %}
