{% set page = 'style-guide' %}

{% extends "partials/layout.twig" %}

{% block title %}Style Guide - {% endblock %}

{% block meta_description %}{% endblock %}

{% block content %}

<div class="l__max-width l__center l__padding t__align--center l__margin-top--xlarge">

  <h2>Grid</h2>

  <div class="grid">
    <div class="col--6">
      <div class="l__padding l__orange">1</div>
    </div>
    <div class="col--6">
      <div class="l__padding l__yellow">2</div>
    </div>
  </div>
  <div class="grid grid--rev">
    <div class="col--4">
      <div class="l__padding l__green">3</div>
    </div>
    <div class="col--4">
      <div class="l__padding l__yellow">4</div>
    </div>
    <div class="col--4">
      <div class="l__padding l__blue--lighter">5</div>
    </div>
  </div>
  <div class="grid">
    <div class="col--3">
      <div class="l__padding l__blue--lighter">6</div>
    </div>
    <div class="col--3">
      <div class="l__padding l__yellow">7</div>
    </div>
    <div class="col--3">
      <div class="l__padding l__orange">8</div>
    </div>
    <div class="col--3">
      <div class="l__padding l__green">9</div>
    </div>
  </div>
  <div class="grid">
    <div class="col--2"></div>
    <div class="col--2"></div>
    <div class="col--2"></div>
    <div class="col--2"></div>
    <div class="col--2"></div>
    <div class="col--2"></div>
  </div>
  <div class="grid">
    <div class="col--2"></div>
  </div>

  <div class="grid">
    <div class="col--4">
      <div class="l__padding l__green">1</div>
    </div>
    <div class="col--4">
      <div class="l__padding l__yellow">2</div>
    </div>
    <div class="col--4">
      <div class="l__padding l__blue--lighter">3</div>
    </div>
    <div class="col--4">
      <div class="l__padding l__yellow">4</div>
    </div>
    <div class="col--4">
      <div class="l__padding l__blue--lighter">5</div>
    </div>
    <div class="col--4">
      <div class="l__padding l__yellow">6</div>
    </div>
    <div class="col--4">
      <div class="l__padding l__blue--lighter">7</div>
    </div>
  </div>

  <hr>

  <h2>Buttons</h2>

  <div class="btn btn--small btn--primary">Button</div>
  <div class="btn btn--primary">Button</div>
  <div class="btn btn--large btn--primary">Button</div>

  <hr>

  <div class="btn btn--small btn--primaryStroked">Button</div>
  <div class="btn btn--primaryStroked">Button</div>
  <div class="btn btn--large btn--primaryStroked">Button</div>

  <hr>

  <div class="btn btn--small btn--secondaryStroked">Button</div>
  <div class="btn btn--secondaryStroked">Button</div>
  <div class="btn btn--large btn--secondaryStroked">Button</div>

  <hr>

  <div class="btn btn--small btn--tertiary">Button</div>
  <div class="btn btn--tertiary">Button</div>
  <div class="btn btn--large btn--tertiary">Button</div>


</div>

{% endblock %}
