/*------------------------------------*\
    #HAMBURGER
\*------------------------------------*/

/**
 * Burger parts
 *
 * (---) top    -> &:before
 * [---] middle -> &
 * (---) bottom -> &:after
 */


/**
 * Burger
 */

@mixin burger($width, $height, $gutter, $color, $border-radius, $transition-duration) {

  position: relative;
  margin-top: $height + $gutter;
  margin-bottom: $height + $gutter;

  &, &:before, &:after {
    display: block;
    width: $width;
    height: $height;
    background-color: $color;
    @if $border-radius != 0 {
        border-radius: $border-radius;
    }
    transform:translateZ(0) translate3d(0,0,0) rotate(0);
    backface-visibility:hidden;
    outline: 1px solid transparent; // Firefox hack to stop jagged edges!
    transition-property: background-color, transform;
    transition-duration: $transition-duration;
  }

  &:before, &:after {
    position: absolute;
    content: "";
  }

  &:before {
    top: -($height + $gutter);
  }

  &:after {
    top: $height + $gutter;
  }
}


/**
 * Select parts of the burger
 */

@mixin burger-parts {
  &, &:before, &:after {
    @content;
  }
}

@mixin burger-top {
  &:before {
    @content;
  }
}

@mixin burger-middle {
  & {
    @content;
  }
}

@mixin burger-bottom {
  &:after {
    @content;
  }
}

.menu-button {
  display: block;
  padding: rem(30);
  position: absolute;
  top: 0;
  left: 0;
  user-select:none;
}

.menu-button__burger {
  @include burger(rem(40), rem(1), rem(7), col("black"), 0, .5s);
}

.menu-button.is--active .menu-button__burger {
  background-color: transparent;
  transform: rotate(180deg);
  &:before {
    transform: translateY(rem(7) + rem(1)) rotate(45deg);
  }
  &:after {
    transform: translateY(-(rem(7) + rem(1))) rotate(-45deg);
  }
}

