@charset "UTF-8";
/*------------------------------------*\
    #IMPORTS
\*------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/*------------------------------------*\
    #VARIABLE SETTINGS
\*------------------------------------*/
/*------------------------------------*\
    #MIXINS
\*------------------------------------*/
/*  Rem Helper
  ===================================== */
/*  Color Helper
  ===================================== */
/* Responsive breaks
  ===================================== */
/* Sizing Mixin, if height omitted, falls back to width value
  ========================================================================== */
/* Opacity IE8 Mixin
  ========================================================================== */
/* PNG Retina Mixin
  ========================================================================== */
/* Ellipsis Mixin
  ========================================================================== */
/* Stagger Transition Delay Mixin
  ========================================================================== */
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
*, *:after, *:before {
  box-sizing: border-box;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 0;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.  #WILL CHANGED
 */
sub,
sup {
  font-size: 60%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.6em;
}

sub {
  bottom: 0em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 0;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*------------------------------------*\
    #OTHER ARBITRARY HELPERS
\*------------------------------------*/
.l__green--lighter {
  background-color: #dEfae3 !important;
}

.t__green--lighter {
  color: #dEfae3 !important;
}

.l__green--light {
  background-color: #c9e5d4 !important;
}

.t__green--light {
  color: #c9e5d4 !important;
}

.l__green {
  background-color: #b5d1c2 !important;
}

.t__green {
  color: #b5d1c2 !important;
}

.l__green--dark {
  background-color: #a1bdb5 !important;
}

.t__green--dark {
  color: #a1bdb5 !important;
}

.l__green--darker {
  background-color: #8ca8a3 !important;
}

.t__green--darker {
  color: #8ca8a3 !important;
}

.l__green--darkest {
  background-color: #779394 !important;
}

.t__green--darkest {
  color: #779394 !important;
}

.l__yellow {
  background-color: #ffffc9 !important;
}

.t__yellow {
  color: #ffffc9 !important;
}

.l__orange--lighter {
  background-color: #fae8b5 !important;
}

.t__orange--lighter {
  color: #fae8b5 !important;
}

.l__orange--light {
  background-color: #f7d19e !important;
}

.t__orange--light {
  color: #f7d19e !important;
}

.l__orange {
  background-color: #f2ba8a !important;
}

.t__orange {
  color: #f2ba8a !important;
}

.l__orange--dark {
  background-color: #eda673 !important;
}

.t__orange--dark {
  color: #eda673 !important;
}

.l__orange--darker {
  background-color: #ea8e5e !important;
}

.t__orange--darker {
  color: #ea8e5e !important;
}

.l__blue--lighter {
  background-color: #d9e3ed !important;
}

.t__blue--lighter {
  color: #d9e3ed !important;
}

.l__blue--light {
  background-color: #bdc2d1 !important;
}

.t__blue--light {
  color: #bdc2d1 !important;
}

.l__blue {
  background-color: #828c9c !important;
}

.t__blue {
  color: #828c9c !important;
}

.l__blue--dark {
  background-color: #576170 !important;
}

.t__blue--dark {
  color: #576170 !important;
}

.l__blue--darker {
  background-color: #2e3347 !important;
}

.t__blue--darker {
  color: #2e3347 !important;
}

.l__blue--darkest {
  background-color: #00081f !important;
}

.t__blue--darkest {
  color: #00081f !important;
}

.l__white {
  background-color: #fff !important;
}

.t__white {
  color: #fff !important;
}

.l__black {
  background-color: #000 !important;
}

.t__black {
  color: #000 !important;
}

.z__back {
  z-index: 0;
}

.z__front {
  z-index: 1;
}

.l__max-width--large {
  max-width: 75rem;
}

.l__max-width {
  max-width: 60rem;
}

.l__max-width--small {
  max-width: 33.75rem;
}

.l__center {
  margin-left: auto;
  margin-right: auto;
}

.l__padding {
  padding: 1.875rem;
}

.l__padding--large {
  padding: 2.8125rem;
}

.l__padding--xlarge {
  padding: 3.75rem;
}

.l__margin-top {
  margin-top: 1.875rem;
}

.l__margin-top--large {
  margin-top: 2.8125rem;
}

.l__margin-top--xlarge {
  margin-top: 3.75rem;
}

.l__margin--none {
  margin: 0;
}

.l__clear {
  clear: both;
}

.l__cf, .grid {
  *zoom: 1;
}
.l__cf:before, .grid:before, .l__cf:after, .grid:after {
  content: " ";
  display: table;
}
.l__cf:after, .grid:after {
  clear: both;
}

.l__right {
  float: right;
}

.l__left {
  float: left;
}

.l__pos--rel {
  position: relative;
}

.l__pos--abs {
  position: absolute;
}

.l__abCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.l__middle {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

@media screen and (min-width: 50.0625em) {
  .l__small {
    display: none !important;
  }
}

@media screen and (max-width: 50.0625em) {
  .l__large {
    display: none !important;
  }
}

.t__hidden {
  overflow: hidden;
  text-indent: -9000px;
  display: block;
}

.t__align--center {
  text-align: center;
}

.t__align--right {
  text-align: right !important;
}

.t__align--left {
  text-align: left !important;
}

.t__word-break {
  word-break: break-all;
  word-break: break-word;
}

/*------------------------------------*\
    #BASE
\*------------------------------------*/
/*------------------------------------*\
    #FONT-SIZES
\*------------------------------------*/
html {
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Arial", "Sans-serif";
  font-weight: 400;
  overflow-y: scroll;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (min-width: 112.5em) {
  html {
    font-size: 120%;
  }
}

body {
  background: #fae8b5;
  -webkit-transition: background 1s ease;
          transition: background 1s ease;
  letter-spacing: .02em;
}
body.page--style-guide {
  background: #828c9c;
}

/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/
h1, h2, h3, h4, h5, h6, hgroup, ul, ol, dl, blockquote, p, address, table, fieldset, pre, small {
  margin: 0;
  margin-bottom: 1.875rem;
}

h1, .t__alpha, h2, .t__beta, h3, .t__gamma, .btn, h4, .t__delta, h5, .t__epsilon, h6, .t__zeta, .t__giga {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .2em;
  text-align: inherit;
}

/*------------------------------------*\
    #PARAGRAPHS
\*------------------------------------*/
p {
  line-height: 1.375rem;
}

.t__mega {
  font-size: 0.9375rem;
  line-height: 1.125rem;
  letter-spacing: .2em;
}
@media screen and (min-width: 50.0625em) {
  .t__mega {
    font-size: 1.5rem;
    line-height: 2.375rem;
  }
}

/*------------------------------------*\
    #LINKS
\*------------------------------------*/
a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: 200ms ease;
          transition: 200ms ease;
}

/*------------------------------------*\
    #SOCIAL
\*------------------------------------*/
@font-face {
  font-family: icons;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#icons") format("svg");
}
.icon--twitter:before {
  content: "";
  font-family: "icons";
  font-size: 1.25rem;
  line-height: 1.9375rem;
  display: inline-block;
  -webkit-transition: opacity 200ms ease;
          transition: opacity 200ms ease;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  opacity: 1;
  filter: alpha(opacity=100);
  vertical-align: bottom;
}

.icon--twitter:hover:before {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.icon--instagram:before {
  content: "";
  font-family: "icons";
  font-size: 1.25rem;
  line-height: 1.9375rem;
  display: inline-block;
  -webkit-transition: opacity 200ms ease;
          transition: opacity 200ms ease;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  opacity: 1;
  filter: alpha(opacity=100);
  vertical-align: bottom;
}

.icon--instagram:hover:before {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.icon--twitter:before {
  font-size: 1.375rem;
}

.social-icons {
  text-align: center;
}

.icon--twitter:before,
.icon--instagram:before {
  padding: 0 1.25rem;
}
@media screen and (min-width: 50.0625em) {
  .icon--twitter:before,
  .icon--instagram:before {
    padding: 0 0.3125rem;
  }
}

/*------------------------------------*\
    #GRID
\*------------------------------------*/
.grid {
  width: 100%;
  margin: 1.875rem 0 0;
}
.grid:first-child {
  margin-top: 0;
}
@media screen and (min-width: 30em) {
  .grid {
    margin: 1.875rem 0 0-1.875rem;
    width: calc(100% + 1.875rem);
  }
  .grid.grid--noMargins {
    margin: 1.875rem 0 0;
    width: 100%;
  }
}

[class*="col--"] {
  min-height: 1.875rem;
  width: 100%;
  margin-top: 1.875rem;
  background: #ffffc9;
}
[class*="col--"]:first-child {
  margin-top: 0;
}
[class*="col--"] img {
  width: 100%;
}
@media screen and (min-width: 30em) {
  [class*="col--"] {
    float: left;
    margin-top: 0;
    margin-left: 1.875rem;
  }
  [class*="col--"] + [class*="col--"]:last-child {
    float: right;
  }
  .grid--noMargins [class*="col--"] {
    margin-left: 0;
  }
}

@media screen and (min-width: 30em) {
  .col--1 {
    width: calc( 8.33333% - 1.875rem );
  }
  .grid--noMargins .col--1 {
    width: 8.33333%;
  }
}

@media screen and (min-width: 30em) {
  .col--2 {
    width: calc( 16.66667% - 1.875rem );
  }
  .grid--noMargins .col--2 {
    width: 16.66667%;
  }
}

@media screen and (min-width: 30em) {
  .col--3 {
    width: calc( 25% - 1.875rem );
  }
  .grid--noMargins .col--3 {
    width: 25%;
  }
}

@media screen and (min-width: 30em) {
  .col--4 {
    width: calc( 33.33333% - 1.875rem );
  }
  .grid--noMargins .col--4 {
    width: 33.33333%;
  }
}

@media screen and (min-width: 30em) {
  .col--5 {
    width: calc( 41.66667% - 1.875rem );
  }
  .grid--noMargins .col--5 {
    width: 41.66667%;
  }
}

@media screen and (min-width: 30em) {
  .col--6 {
    width: calc( 50% - 1.875rem );
  }
  .grid--noMargins .col--6 {
    width: 50%;
  }
}

@media screen and (min-width: 30em) {
  .col--7 {
    width: calc( 58.33333% - 1.875rem );
  }
  .grid--noMargins .col--7 {
    width: 58.33333%;
  }
}

@media screen and (min-width: 30em) {
  .col--8 {
    width: calc( 66.66667% - 1.875rem );
  }
  .grid--noMargins .col--8 {
    width: 66.66667%;
  }
}

@media screen and (min-width: 30em) {
  .col--9 {
    width: calc( 75% - 1.875rem );
  }
  .grid--noMargins .col--9 {
    width: 75%;
  }
}

@media screen and (min-width: 30em) {
  .col--10 {
    width: calc( 83.33333% - 1.875rem );
  }
  .grid--noMargins .col--10 {
    width: 83.33333%;
  }
}

@media screen and (min-width: 30em) {
  .col--11 {
    width: calc( 91.66667% - 1.875rem );
  }
  .grid--noMargins .col--11 {
    width: 91.66667%;
  }
}

@media screen and (min-width: 30em) {
  .col--12 {
    width: calc( 100% - 1.875rem );
  }
  .grid--noMargins .col--12 {
    width: 100%;
  }
}

/*------------------------------------*\
    #HAMBURGER
\*------------------------------------*/
/**
 * Burger parts
 *
 * (---) top    -> &:before
 * [---] middle -> &
 * (---) bottom -> &:after
 */
/**
 * Burger
 */
/**
 * Select parts of the burger
 */
/**
 * Burger animations
 */
.menu-button {
  display: block;
  padding: 1.875rem;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.menu-button__burger {
  position: relative;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.menu-button__burger, .menu-button__burger:before, .menu-button__burger:after {
  display: block;
  width: 2.5rem;
  height: 0.0625rem;
  background-color: #000;
  -webkit-transform: translateZ(0) translate3d(0, 0, 0) rotate(0);
          transform: translateZ(0) translate3d(0, 0, 0) rotate(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  outline: 1px solid transparent;
  -webkit-transition-property: background-color, -webkit-transform;
          transition-property: background-color, transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.menu-button__burger:before, .menu-button__burger:after {
  position: absolute;
  content: "";
}
.menu-button__burger:before {
  top: -0.5rem;
}
.menu-button__burger:after {
  top: 0.5rem;
}

.menu-button.is--active .menu-button__burger {
  background-color: transparent;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.menu-button.is--active .menu-button__burger:before {
  -webkit-transform: translateY(0.5rem) rotate(45deg);
      -ms-transform: translateY(0.5rem) rotate(45deg);
          transform: translateY(0.5rem) rotate(45deg);
}
.menu-button.is--active .menu-button__burger:after {
  -webkit-transform: translateY(-0.5rem) rotate(-45deg);
      -ms-transform: translateY(-0.5rem) rotate(-45deg);
          transform: translateY(-0.5rem) rotate(-45deg);
}

/*
* Uses Font Awesome and Bootstrap 3
* Both aren't required for this demo
*/
.site {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  background: transparent;
}

.site__inner {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: .5s ease all;
          transition: .5s ease all;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.show-nav .site__inner {
  -webkit-transform: translateX(18.75rem);
      -ms-transform: translateX(18.75rem);
          transform: translateX(18.75rem);
  -webkit-transform: translate3d(18.75rem);
          transform: translate3d(18.75rem);
}

.ocn {
  width: 18.75rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: -18.75rem;
  background: #b5d1c2;
  padding: 1.875rem;
}

/*------------------------------------*\
    #FOOTER
\*------------------------------------*/
ul {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

/*------------------------------------*\
    #UI
\*------------------------------------*/
.switch {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s;
          transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.switch.is--hidden {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate3d(0, 20%, 0);
          transform: translate3d(0, 20%, 0);
}

/*------------------------------------*\
    #Buttons
\*------------------------------------*/
.btn {
  display: inline-block;
  text-align: center;
  letter-spacing: .1em;
  vertical-align: middle;
  min-width: 13.75rem;
  height: 3.125rem;
  line-height: 3.125rem;
  padding: 0 1.25rem 0 1.375rem;
  -webkit-transition: 200ms ease;
          transition: 200ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
  border: 0;
  border-radius: 0;
  white-space: nowrap;
}

.btn--small {
  min-width: 8.75rem;
}

.btn--large {
  height: 4.375rem;
  font-size: 1.5rem;
  line-height: 4.375rem;
  min-width: 18.75rem;
}

.btn--primary {
  color: #fff;
  background-color: #b5d1c2;
}
.btn--primary:hover {
  color: #fff;
  background-color: #9fc3b0;
}
.btn--primary:active {
  box-shadow: inset 0 0 0.75rem #76aa8e;
}

.btn--primaryStroked {
  box-shadow: inset 0 0 0 0.0625rem #000;
  color: #000;
}
.btn--primaryStroked:hover {
  box-shadow: inset 0 0 0 0.0625rem #000;
  color: #000;
  background-color: rgba(0, 0, 0, 0.2);
}
.btn--primaryStroked:active {
  box-shadow: inset 0 0 0.75rem black;
}

.btn--secondaryStroked {
  box-shadow: inset 0 0 0 0.0625rem #fff;
  color: #fff;
}
.btn--secondaryStroked:hover {
  box-shadow: inset 0 0 0 0.0625rem #fff;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}
.btn--secondaryStroked:active {
  box-shadow: inset 0 0 0.75rem #cccccc;
}

.btn--tertiary {
  color: #000;
  background-color: #ffffc9;
}
.btn--tertiary:hover {
  color: #000;
  background-color: #ffffa5;
}
.btn--tertiary:active {
  box-shadow: inset 0 0 0.75rem #ffff63;
}

/* #Form
--------------- */
form {
  position: relative;
  max-width: 28.75rem;
  margin: 0 auto;
  text-align: center;
}
form .field {
  position: relative;
}

.error {
  position: absolute;
  top: -3.125rem;
  left: 0;
  right: 0;
  opacity: 0;
  padding: 0 1.875rem;
  -webkit-transition: opacity .3s ease;
          transition: opacity .3s ease;
  text-align: center;
}
.error.is--visible {
  opacity: 1;
}

/*------------------------------------*\
    #IMAGE SETTINGS
\*------------------------------------*/
img, video, audio, iframe, object {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

/**
 * 1. Google Maps breaks if `max-width: 100%` acts upon it; use their selector
 *    to remove the effects.
 * 2. If a `width` and/or `height` attribute have been explicitly defined, let’s
 *    not make the image fluid.
 */
.gm-style img,
img[width],
img[height] {
  /* [2] */
  max-width: none;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/*
 * Remove the border around images in anchors.
 */
a img {
  border: none;
}

/*
 * Properly scale your video on any device based on YouTube/Dailymotion ratio.
 */
hr {
  border: none;
  border-bottom: 0.0625rem solid #a1bdb5;
  margin: 1.875rem auto;
  max-width: 60rem;
}
