/* #Form
--------------- */

form {
  position: relative;
  max-width: rem(460);
  margin:0 auto;
  text-align: center;
  .field {
    position:relative;
  }
}

.error {
  position: absolute;
  top: rem(-50);
  left: 0;
  right: 0;
  opacity: 0;
  padding: 0 rem(30);
  transition: opacity .3s ease;
  text-align: center;
  &.is--visible {
    opacity: 1;
  }
}

.thank-you {}